* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#top {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #285b75;
    color: #ffffff;
    
   font-size: 20px;
    display: flex;
    flex-direction: row;
    
}


#top div {
    padding-top: 10px;
    margin-left: 1050px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #285b75;
    
}

a {
    color: #ffffff;
    text-decoration: none;
}
#top ul {
    list-style-type: none;
}

#top ul li {
    display: inline-block;
    margin-left: 25px;
    color: white;
}

#top ul li:hover {
    background-color: #133d52;
}


#aboutme  {
    display: block;
    font-size: 30px;
   float: left;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#aboutme h2 {
    
    display: block;
    border-right: 5px solid #285b75;
    margin-right: 1585px;
    padding-left: 55px;
}

#aboutme p {
    float:left;
    display: block;
    margin-left: 300px;
    font-size: 20px;
    padding: 10px;
    position: relative;
    bottom: 100px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



#work  {
   font-size: 30px;
   margin: 10px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 #work h2 {
    float: left;
    display: block;
    
    border-right: 5px solid #285b75;
    padding-right: 54px;
    padding-left: 120px;
    padding-bottom: 350px;
}

#work div {
    display: inline-block;
}

.firstsite{
    height: 400px;
    position: relative;
    border: 5px solid lightskyblue;
    margin-left: 5px;
}

.secondsite {
    height: 400px;
    border: 5px solid lightskyblue;
}

.thirdsite {
    height: 400px;
    width: 400px;
    border: 5px solid lightskyblue;
}

.siteone {
    position:absolute;
    left: 317px;
    top: 695px;
    background-color: lightskyblue;
}

.firsttext:hover {
    border-color: aquamarine;
    background-color: aquamarine;
    cursor: pointer;
    color: white;
}

.sitetwo {
    position: absolute;
    right: 813px;

    background-color: lightskyblue;
}

.secondtext:hover {
    border-color: aquamarine;
    background-color: aquamarine;
    cursor: pointer;
    color: white;
}

.sitethree {
    position: absolute;
    right: 261px;
    background-color: lightskyblue;
}

.thirdtext:hover {
    border-color: aquamarine;
    background-color: aquamarine;
    cursor: pointer;
    color: white;
}

.contactinfo {
    
    display: block;
    margin-left: 304px;
    font-size: 25px;
    padding-left: 5px;
    border-left: 5px solid #285b75;
    position: relative;
    line-height: 2.0;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



#contactme h2 {
    display: block;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 100px;
    float: left;
    
}

#githublink {
    color: black;
    
}

#githublink:hover {
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

footer {
    text-align: center;
    font-size: 20px;
}